/*
    By TheMineWay - Joel Campos
          Version: 1.0.0
*/

:root {
    --color-primary: #304ffe;
    --color-secondary: #6200ea;
    --color-success: green;
    --color-warning: rgb(231, 231, 79);
    --color-danger: red;
    --color-ligth: white;
    --color-dark: black;
    --color-complementary: #00c853;

    /* OTHER */
    --color-gray: rgb(156, 156, 156);

    /* CONTRAST COLORS */
    --color-contrast-primary: var(--color-ligth);
    --color-contrast-secondary: var(--color-ligth);
    --color-contrast-success: var(--color-ligth);
    --color-contrast-warning: var(--color-dark);
    --color-contrast-danger: var(--color-ligth);
    --color-contrast-ligth: var(--color-dark);
    --color-contrast-dark: var(--color-ligth);

    --color-contrast-complementary: var(--color-ligth);
}

/* BACKGROUND */

.bg-primary {background-color: var(--color-primary);}
.bg-secondary {background-color: var(--color-secondary);}
.bg-success {background-color: var(--color-success);}
.bg-warning {background-color: var(--color-warning);}
.bg-danger {background-color: var(--color-danger);}
.bg-complementary{background-color: var(--color-complementary);}
.bg-ligth {background-color: var(--color-ligth);}
.bg-dark {background-color: var(--color-dark);}

/* TEXT */

.text-primary {color: var(--color-primary);}
.text-secondary {color: var(--color-secondary);}
.text-success {color: var(--color-success);}
.text-warning {color: var(--color-warning);}
.text-danger {color: var(--color-danger);}
.text-complementary {color: var(--color-complementary)}
.text-ligth {color: var(--color-ligth);}
.text-dark {color: var(--color-dark);}

/* NAV */
.nav-primary {background-color: var(--color-primary);}
.nav-secondary {background-color: var(--color-secondary);}
.nav-success {background-color: var(--color-success);}
.nav-warning {background-color: var(--color-warning);}
.nav-danger {background-color: var(--color-danger);}
.nav-complementary {background-color: var(--color-complementary);}
.nav-ligth {background-color: var(--color-ligth);}
.nav-dark {background-color: var(--color-dark);}

.nav-primary * {color: var(--color-contrast-primary);}
.nav-secondary * {color: var(--color-contrast-secondary);}
.nav-success * {color: var(--color-contrast-success);}
.nav-warning * {color: var(--color-contrast-warning);}
.nav-danger * {color: var(--color-contrast-danger);}
.nav-complementary * {color: var(--color-contrast-complementary);}
.nav-ligth * {color: var(--color-contrast-ligth);}
.nav-dark * {color: var(--color-contrast-dark);}

/* CARD */
.card-primary > .card-header {background-color: var(--color-primary);color: var(--color-contrast-primary);}
.card-secondary > .card-header {background-color: var(--color-secondary);color: var(--color-contrast-secondary);}
.card-success > .card-header {background-color: var(--color-success);color: var(--color-contrast-success);}
.card-warning > .card-header {background-color: var(--color-warning);color: var(--color-contrast-warning);}
.card-danger > .card-header {background-color: var(--color-danger);color: var(--color-contrast-danger);}
.card-complementary > .card-header {background-color: var(--color-complementary);color: var(--color-contrast-complementary);}
.card-ligth > .card-header {background-color: var(--color-ligth);color: var(--color-contrast-ligth);}
.card-dark > .card-header {background-color: var(--color-dark);color: var(--color-contrast-dark);}

/* BUTTONS */
.btn-primary {background-color: var(--color-primary);color: var(--color-contrast-primary); border-color: var(--color-primary);}
.btn-secondary {background-color: var(--color-secondary);color: var(--color-contrast-secondary); border-color: var(--color-secondary);}
.btn-success {background-color: var(--color-success);color: var(--color-contrast-success); border-color: var(--color-success);}
.btn-warning {background-color: var(--color-warning);color: var(--color-contrast-warning); border-color: var(--color-warning);}
.btn-danger {background-color: var(--color-danger);color: var(--color-contrast-danger); border-color: var(--color-danger);}
.btn-complementary {background-color: var(--color-complementary);color: var(--color-contrast-complementary); border-color: var(--color-complementary);}
.btn-ligth {background-color: var(--color-ligth);color: var(--color-contrast-ligth); border-color: var(--color-ligth);}
.btn-dark {background-color: var(--color-dark);color: var(--color-contrast-dark); border-color: var(--color-dark);}

/* INFOBOX */
.infobox.infobox-primary {border-left-color: var(--color-primary);}
.infobox.infobox-primary > .infobox-header {background-color: var(--color-primary);color: var(--color-contrast-primary);}