/*
    By TheMineWay - Joel Campos
          Version: 1.0.0
*/

/* NAV */

.nav ul {display: flex;}
.nav * {text-decoration: none;}
.nav-item {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0.5em 0.5em;
}

.nav-item.disabled {
    opacity: var(--common-disabled-opacity);
}

.nav-item.active {
	font-weight: bold;
}

.nav-dropdown {
    list-style-type: none;
    text-align: center;
    padding: 0.5em 0.5em;
    position: relative;
    display: inline-block;
}
.nav-dropdown:hover {cursor: pointer;}
.nav-dropdown:hover .dropdown-content {display: block;}

.nav-primary .dropdown-content {background-color: var(--color-primary);}
.nav-secondary .dropdown-content {background-color: var(--color-secondary);}
.nav-success .dropdown-content {background-color: var(--color-success);}
.nav-warning .dropdown-content {background-color: var(--color-warning);}
.nav-danger .dropdown-content {background-color: var(--color-danger);}
.nav-complementary .dropdown-content {background-color: var(--color-complementary);}
.nav-ligth .dropdown-content {background-color: var(--color-ligth);}
.nav-dark .dropdown-content {background-color: var(--color-dark);}

.nav .brand {

}

/* MOBILE NAV */
/*[class*="nav-toggle"] {
    display: block;
}*/

@media only screen and (min-width: 476px) {.nav-toggle {display: none;}}
@media only screen and (min-width: 576px) {.nav-toggle-sm {display: none;}}
@media only screen and (min-width: 768px) {.nav-toggle-md {display: none;}}
@media only screen and (min-width: 992px) {.nav-toggle-lg {display: none;}}
@media only screen and (min-width: 1200px) {.nav-toggle-xl {display: none;}}

/* DROPDOWN */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content * {
    padding-top: var(--common-dropdown-padding);
}

/* CARD */
.card {
    border-width: var(--common-card-border);
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: var(--common-round-size);
}
.card > .card-header {
    padding: 0px 0px;
    margin: 0px 0px;
    border-bottom: solid;
    border-top-left-radius: var(--common-round-size);
    border-top-right-radius: var(--common-round-size);
    border-width: var(--common-card-border);
}
.card > .card-body {
    margin: 1em 1em;
}

/* BUTTONS */
.btn {
    border-radius: var(--common-btn-round-size);
}
.btn:hover {
    outline-width: var(--common-btn-border);
    opacity: 90%;
}

/* BTN FADE */
.btn.fade {
    transition-duration: var(--common-btn-transition-delay);
    background-color: var(--color-ligth);
    color: var(--color-dark);
    opacity: 100%;
}
.btn.btn-primary.fade:hover { background-color: var(--color-primary); color: var(--color-contrast-primary);}
.btn.btn-secondary.fade:hover { background-color: var(--color-secondary); color: var(--color-contrast-secondary);}
.btn.btn-success.fade:hover { background-color: var(--color-success); color: var(--color-contrast-success);}
.btn.btn-warning.fade:hover { background-color: var(--color-warning); color: var(--color-contrast-warning);}
.btn.btn-danger.fade:hover { background-color: var(--color-danger); color: var(--color-contrast-danger);}
.btn.btn-ligth.fade:hover { background-color: var(--color-ligth); color: var(--color-contrast-ligth);}
.btn.btn-dark.fade:hover { background-color: var(--color-dark); color: var(--color-contrast-dark);}
.btn.btn-complementary.fade:hover { background-color: var(--color-complementary); color: var(--color-contrast-complementary);}

.btn-primary {border-color: var(--color-primary);}
.btn-secondary {border-color: var(--color-secondary);}
.btn-success {border-color: var(--color-success);}
.btn-warning {border-color: var(--color-warning);}
.btn-danger {border-color: var(--color-danger);}
.btn-ligth {border-color: var(--color-ligth);}
.btn-dark {border-color: var(--color-dark);}
.btn-complementary {border-color: var(--color-complementary);}

/* FORMS */
.form-control::after {
    content: "";
    clear: both;
    display: table;
}
.form-control > * {
    float:left;
    width: 100%;
}

.input, .select {
    border-radius: var(--common-btn-border);
    border-width: var(--common-input-border);
    outline: none;
}
.input.fade, .select.fade {
    transition-duration: var(--common-input-transition-delay);
}

/* INPUT & SELECT */
.input-primary:focus, .select.select-primary:focus {border-color: var(--color-primary);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-primary);}
.input-secondary:focus, .select.select-secondary:focus {border-color: var(--color-secondary);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-secondary);}
.input-success:focus, .select.select-success:focus {border-color: var(--color-success);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-success);}
.input-warning:focus, .select.select-warning:focus {border-color: var(--color-warning);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-warning);}
.input-danger:focus, .select.select-danger:focus {border-color: var(--color-danger);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-danger);}
.input-complementary:focus, .select.select-complementary:focus {border-color: var(--color-complementary);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-complementary);}
.input-ligth:focus, .select.select-ligth:focus {border-color: var(--color-ligth);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-ligth);}
.input-dark:focus, .select.select-dark:focus {border-color: var(--color-dark);box-shadow: 0.05em 0.05em 0.1em 0.1em var(--color-dark);}

/* INFO BOX */
.infobox {border-left-style: solid;border-left-width: var(--common-infobox-border);}
.infobox > .infobox-body {margin-left: var(--common-infobox-margin);margin-right: var(--common-infobox-margin);padding-bottom: 0.2em;}
.infobox > .infobox-header > * {padding-top: var(--common-infobox-header-v-padding);padding-bottom: var(--common-infobox-header-v-padding);}
.infobox > .infobox-header > * {margin-left: var(--common-infobox-margin);}
.infobox p {font-size: medium;}

/* SLIDESHOW */
.slideshow-item {
    display:none;
}
.slideshow {

}

/* RANGLE */
.rangle .rangle-body > * {margin: 20px 20px;}

/* IMAGES */
.autoimage {width: 100%;}
.zoomable {transition-duration: var(--common-img-transition-delay);}
img.zoomable:hover {transform: scale(1.075);}