/*
    By TheMineWay - Joel Campos
          Version: 1.0.0
*/

/* NAV */

.nav ul {display: flex;}
.nav * {text-decoration: none;}
.nav-item {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0.5em 0.5em;
}

.nav-item.disabled {
    
}

.nav-item.active {
	font-weight: bold;
}

.nav .brand {

}

/* CARD */
.card {
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 0.5em;
}
.card > .card-header {
    padding: 0px 0px;
    border-bottom: solid;
}
.card > .card-body {
    
}