/*
    By TheMineWay - Joel Campos
          Version: 1.0.0
*/

/* IMPORTS */

@import "colors.css";
@import "grid.css";
@import "components.css";

/* ICONS */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* FONTS */
* {
	font-family: 'Open Sans', sans-serif;
}
p {font-size: large}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* COMMON SIZES */
:root {
    /* ROUND SIZES */
    --common-round-size: 0.5em;
    --common-btn-round-size: 0.25em;

    /* BORDERS */
    --common-card-border: 0.1em;
    --common-btn-border: 0.2em;
    --common-input-border: 0.1em;
    --common-infobox-border: 0.35em;

    /* TRANSITION DELAYS */
    --common-btn-transition-delay: 0.4s;
    --common-input-transition-delay: 0.4s;

    /* DISABLED ELEMENTS */
    --common-disabled-opacity: 70%;

    /* PADDINGS */
    --common-dropdown-padding: 0.05em;
    --common-infobox-header-v-padding: 0.2em;

    /* MARGINS */
    --common-infobox-margin: 0.8em;
}